{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'index' %}"> <<< вернуться к списку</a>
    <hr/>
    <h2>Объявление #{{ current_ad.pk }}</h2>
    Текст объявления:
    <p>{{ current_ad.content }}</p>
    <p>Категории объявления:
    {% for cat in current_ad.categories.all %}
        <span class="badge badge-secondary">{{ cat.name }}</span>
    {% endfor %}
    </p>


    <h3>Запланированные показы</h3>
    {% for timetable in current_ad.timetables.all %}
        <div class="card mb-4">
            <div class="card-header">Расписание #{{ timetable.pk }} от {{ timetable.time_create }}</div>
            <div class="card-body">
                <p>Начало показа: {{ timetable.start_date}}</p>
                <p>Длительность: {{ timetable.day_count}} день</p>
                <p>Дни недели: {% for wday in timetable.weekdays_str %}
                    <span class="badge badge-success">{{ wday }}</span>
                {% endfor %}

                </p>
                <p>Категории:
                {% if not timetable.categories.all %}<span class="badge badge-secondary">Все</span>
                {% else  %}

                 {% for cat in timetable.categories.all %}
                     <span class="badge badge-secondary">{{ cat.name }}</span>
                 {% endfor %}
                {% endif %}
                </p>
        </div>
        </div>
    {% endfor %}
    <hr/>
    <h3>Новое расписание показа</h3>
    <form action="{% url 'ad_view' current_ad.pk %} " method="post" id="form_timetable">
{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
{#            <input type="email" name="{{ field.html_name }}" class="form-control" id="field_{{ field.html_name }}" aria-describedby="emailHelp" value="{{ field.value }}">#}
        {{ field }}
            {% if field.help_text %}
                <small id="{{ field.html_name }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}

        </div>
    {% endfor %}

        {% csrf_token %}
{#        {{ form.as_p }}#}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">Ошибка! Не удалось сохранить расписание</div>
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}


        <input type="submit" value="Создать" class="btn btn-primary">

        <input type="submit" value="Предварительный расчет" class="btn btn-secondary">
    </form>


{% endblock %}