{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'index' %}"> <<< вернуться к списку</a>
    <hr/>
    <h2>Объявление #{{ current_ad.pk }}</h2>
    Текст объявления:
    <p>{{ current_ad.content }}</p>
    <p>Категории объявления:
    {% for cat in current_ad.categories.all %}
        <span class="badge badge-secondary">{{ cat.name }}</span>
    {% endfor %}
    </p>


    <h3 class="mt-5">Запланированные показы</h3>
    {% for timetable in timetables %}
        <div class="card mb-4">
            <div class="card-header">Расписание #{{ timetable.pk }} от {{ timetable.time_create }}</div>
            <div class="card-body">
                <p>Начало показа: {{ timetable.start_date }}</p>
                <p>CPM: {{ timetable.cpm }} руб. за 1000 показов</p>
                <p>Длительность (дни): {{ timetable.day_count}}</p>
                <p>Показывать только в: {% for wday in timetable.weekdays_str %}
                    <span class="badge badge-success">{{ wday }}</span>
                {% endfor %}

                </p>
                <p>Категории:
                {% if not timetable.categories.all %}<span class="badge badge-secondary">Все</span>
                {% else  %}

                 {% for cat in timetable.categories.all %}
                     <span class="badge badge-secondary">{{ cat.name }}</span>
                 {% endfor %}
                {% endif %}
                </p>
        </div>
        </div>
    {% endfor %}
    <hr/>
    <h3 class="mt-5">Новое расписание показа</h3>
    <form action="{% url 'ad_view' current_ad.pk %}" method="post" id="form_timetable">
{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small id="{{ field.html_name }}" class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}

        </div>
    {% endfor %}

        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">Ошибка! Не удалось сохранить расписание</div>
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}


        <input type="submit" value="Создать" class="btn btn-primary">

        <button class="btn btn-secondary" id="timetable_preview">Предварительный расчет</button>
    </form>

    <script lang="javascript">
    </script>


<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Предварительный расчет</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="previewBody">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}