{% extends 'base.html' %}

{% block content %}
    <h2>Объявления</h2>

    <hr/>
    {% for ad in ads %}
        <div class="card">
            <div class="card-header">#{{ ad.pk }}</div>
            <div class="card-body">
                <p></p>Текст: {{ ad.content }}</p>
            <p>
            {% for cat in ad.categories.all %}
                <a href="{% url 'index' %}?cat={{ cat.tag }}" class="badge badge-secondary">{{ cat.name }}</a></li>

            {% endfor %}
            </p>

            <a href="{% url 'ad_view' ad.pk %}" class="btn btn-primary">Параметры</a>
        </div>
        </div>
    {% endfor %}

{% endblock %}